@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True TrimLeadingUnderscores : true *@
@using System
@using Hangfire.Dashboard
@using Hangfire.Annotations
@inherits RazorPage
@functions {
    public CustomSidebarMenu([NotNull] IEnumerable<Func<RazorPage, MenuItem>> items)
    {
        if (items == null) throw new ArgumentNullException(nameof(items));
        Items = items;
    }
    public IEnumerable<Func<RazorPage, MenuItem>> Items { get; }
}
@if (!Items.Any()) { return; }
<div id="stats" class="list-group" style="height: 90vh; width: 245px;overflow-y: scroll; padding-right: 0; overflow-x: hidden;">
    @foreach (var item in Items)
    {
        var itemValue = item(this);
        <a href="@Url.To(itemValue.Url)" class="list-group-item@(itemValue.Active ? " active" : null)">
            @itemValue.Text
            <span class="pull-right">
                @foreach (var metric in itemValue.GetAllMetrics())
                {
                    @(Html.InlineMetric(metric))
                }
            </span>
        </a>
    }
</div>